.navbarContainer {
    width: 100%;
    background-color: var(--primary-white);
    padding: 0 !important;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 16px 24px;
}

.footerRight {
    display: none !important;
}

@media (min-width: 1200px) {
    .footer {
        padding: 24px 40px 48px;
    }

    .footerRight {
        display: flex !important;
    }
}
