.container {
    padding: 16px;
    padding-top: 56px
}

.container > * {
    font-size: var(--text-xs)
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 1000px;
    background-color: var(--primary-green);
    padding: 0
}


.positionsContainer {
    margin-top: 56px;
}

@media (min-width: 1200px) {

    .container {
        padding: 40px;
        padding-top: 88px
    }

    .h1 {
        max-width: 75%
    }

    .positionsContainer {
        margin-top: 120px;
    }
}