.container {
    padding: 16px;
    padding-top: 58px;
}

.h2 {
    font-size: var(--text-xs);
}

.backButton {
    font-size: var(--text-xs);
    text-transform: uppercase;
    font-weight: 500;
}

@media (min-width: 1200px) {

    .container {
        padding: 40px;
        padding-top: 64px;
    }
}
