.button {
    font-size: var(--text-xs);
    text-transform: uppercase;
    font-weight: 500;
}

.button:hover {
    color: var(--primary-grey)
}

.button:hover svg path {
    fill: var(--primary-grey);
}