.button {
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: 500;
}

.button:hover {
    color: var(--primary-grey);
}

.button:hover svg path {
    fill: var(--primary-grey);
}

@media only screen and (min-width: 1200px) {
    .button {
        font-size: var(--text-md)
    }
}