
$font-family-base: "Helvetica Neue", sans-serif;

@import '~bootstrap/scss/bootstrap';

:root {
  // colors
    --primary-black: #1D1D1B;
    --primary-white: #ffffff;

  //fonts
    --font-family: "Helvetica Neue", sans-serif;

  // font-sizes
    --headlines-xl: 72px;
    --headlines-md: 40px;
    --text-sm: 20px;
    --text-md: 32px;

  // width
    --max-width: 1440px;
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
}
