
$font-family-base: "Helvetica Neue", sans-serif;

@import '~bootstrap/scss/bootstrap';

:root {
  // colors
    --primary-black: #1D1D1B;
    --primary-white: #ffffff;
    --primary-grey: #A5A3A3;

  //fonts
    --font-family: "Helvetica Neue", sans-serif;

  // font-sizes
    --headlines-xl: 72px;
    --headlines-md: 40px;
    --text-xs: 20px;
    --text-sm: 24px;
    --text-md: 32px;

  // width
    --max-width: 1440px;
}

body {
  margin: 0 auto;
}
