
@import '~bootstrap/scss/bootstrap';
$font-family-base: "Helvetica Neue", sans-serif;

:root {
  // colors
    --primary-black: #1D1D1B;
    --primary-white: #ffffff;
    --primary-grey: #A5A3A3;
    --primary-green: #5C8984;
    --primary-pink: #F2D8D8;
    --primary-blue-grey: #545B77;
    --secondary-red: #F35555;

  //fonts
    --font-family: "Helvetica Neue", sans-serif;

  // font-sizes
    --headlines-xl: 72px;
    --headlines-md: 40px;
    --text-base: 16px;
    --text-xs: 20px;
    --text-sm: 24px;
    --text-md: 32px;

  // width
    --max-width: 1440px;

}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--primary-black)
}