.modal > div {
    max-width: 349px;
    width: fit-content;
    > div {
        border-radius: 16px !important;
    }
}

.text {
    font-size: var(--text-sm);
    font-weight: 500;
    padding: 48px 24px;
}