.base {
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
    border-radius: 40px;
    padding: 8px 24px;
    font-size: var(--text-xs);
    width: fit-content;
    text-transform: capitalize;;
}

.base[type="button"]:disabled, .base[type="submit"]:disabled {
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
    border-radius: 40px;
    padding: 8px 24px;
    font-size: var(--text-xs);
}

.base:hover, .base[type="button"]:active, .base[type="submit"]:active {
    background-color: var(--primary-black); 
    color: var(--primary-white);
    border: 1px solid transparent;
}


.two {
    text-transform: uppercase;
    font-weight: 500;
}

.three {
    width: 100%;
}

.selected {
    background-color: var(--primary-black);
    color: var(--primary-white)
}

.readOnly {
    pointer-events: none;
}

.small {
    font-size: 12px;
    padding: 4px 8px;
}

.link, .link:hover, .link[type="submit"]:active {
    border: none;
    background-color: transparent;
    color: var(--primary-black);

    @media (min-width: 1200px) {
        font-size: 28px;
    }
}