.circleLondon {
    width: 12px;
    height: 12px;
    border-radius: 1000px;
    background-color: var(--primary-green);
}

.circleNewYork {
    width: 12px;
    height: 12px;
    border-radius: 1000px;
    background-color: var(--primary-pink);
}

.text {
    font-size: var(--text-sm);
}

.textBold {
    font-weight: 500
}

.columns {
    display: flex;
    row-gap: 24px;
}